<!DOCTYPE html>
<html>
<head>
	<title>cms test{{{test.a()}}}{{{test.b()}}}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="static/cms/css/main.css">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="static/cms/js/main.js"></script>
	<script type="text/javascript" src="static/cms/js/editormd.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="header_main">
			<div class="header_logo_container">
				<div class="header_logo"></div>
				<div class="header_title">Rose Blog</div>
			</div>
			<div class="header_links_container">
				<div class="header_study header_block"><a><p>朝闻道</p></a></div>
				<div class="header_summary header_block"><a><p>日思夜想</p></a></div>
				<div class="header_diary header_block"><a><p>聚溪成河</p></a></div>
			</div>
		</div>
	</div>
	<div class="slider">
		<div class="slider_center">
			<div class="slider_title">
				<div class="slider_title_main">
					<p>Rose Blog</p>
				</div>
				<div class="slider_title_little">
					<p>——承载我们的梦想</p>
				</div>
			</div>
			<div class="slider_hidden_box">
				
			</div>
		</div>
		<div class="slider_hidden">
			
		</div>
	</div>
	<div class="body">
		<div class="body_contain">
			<div class="body_block body_study">
				<div class="body_block_top">朝闻道</div>
				<div class="body_block_container">
					{% for i in article_study %}
					<a class="body_block_link">
						<div class="body_block_title">
							<div class="body_block_title_root">[{{{i['rootname']}}}]</div>
							<div class="body_block_title_name">{{{i['title']}}}</div>
						</div>
						<div class="body_block_detail">
							<div class="body_block_author">{{{i['creatorid']}}}</div>
							<div class="body_block_time">{{{i['creattime'].strftime('%Y-%m-%d %H:%M:%S')}}}</div>
						</div>
					</a>
					{% endfor %}
					<a class="body_block_link">
						<div class="body_block_title">测试</div>
						<div class="body_block_detail">
							<div class="body_block_author">测试</div>
							<div class="body_block_time">2018-09-05</div>
						</div>
					</a>
				</div>
			</div>
			<div class="body_block body_summary">
				<div class="body_block_top">日思夜想</div>
				<div class="body_block_container">
					<div class="body_block_null">
						暂无内容
					</div>
				</div>
			</div>
			<div class="body_block body_diary">
				<div class="body_block_top">聚溪成河</div>
				<div class="body_block_container">
					<div class="body_block_null">
						暂无内容
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer_container">
			<div class="footer_main">
				<div class="footer_block"></div>
				<div class="footer_block"></div>
				<div class="footer_block"></div>
			</div>
			<div class="footer_tip"><p>Copyright ©2018-2019 RoseBlog. All Rights Reserved.</p></div>
		</div>
	</div>
</body>
</html>