<!DOCTYPE html>
<html>
<head>
	<title>cms test{{{test.a()}}}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="static/cms/css/main.css">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="static/cms/js/main.js"></script>
</head>
<body>
	<div class="header">
		<div class="header_main">
			<div class="header_logo"></div>
		</div>
	</div>
	<div class="slider">
		<div class="slider_title">
			<div class="slider_title_main">
				<p>Rose Blog</p>
			</div>
			<div class="slider_title_little">
				<p>——承载我们的梦想</p>
			</div>
		</div>
		<div class="slider_hidden">
			
		</div>
	</div>
	<div class="body">
		
	</div>
	<div class="footer"></div>
</body>
</html>