<!DOCTYPE html>
<html>
<head>
	<title>cms test{{{test.a()}}}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="static/cms/css/main.css">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="static/cms/js/main.js"></script>
</head>
<body>
	<div class="header">
		<div class="header_main">
			<div class="header_logo"></div>
			<div class="header_links_container">
				<div class="header_study header_block"><a><p>朝闻道</p></a></div>
				<div class="header_summary header_block"><a><p>日思夜想</p></a></div>
				<div class="header_diary header_block"><a><p>聚溪成河</p></a></div>
			</div>
		</div>
	</div>
	<div class="slider">
		<div class="slider_center">
			<div class="slider_title">
				<div class="slider_title_main">
					<p>Rose Blog</p>
				</div>
				<div class="slider_title_little">
					<p>——承载我们的梦想</p>
				</div>
			</div>
			<div class="slider_hidden_box">
				
			</div>
		</div>
		<div class="slider_hidden">
			
		</div>
	</div>
	<div class="body">
		<div class="body_contain">
			
		</div>
	</div>
	<div class="footer"></div>
</body>
</html>