body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #33A6B8
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw;
    margin-top:-2vw;
}
.logo img{
    height: 6vw;
    width: 6vw;
}
.logo p{
    color:#fff;
    text-shadow: 0 0 0.5vw rgba(254,223,225,0.8);
    font-size: 1vw;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login input{
    width: 13vw;
    height: 1.5vw;
    border-radius: 0.75vw;
    padding: 0 0.5vw;
    margin-bottom: 0.5vw;
    border: 0;
    outline: none;
    transition: all 0.5s;
}
.login input::placeholder{
    font-size: 0.7vw;
    color:rgba(0,0,0,.6)
}
.login input:focus{
    box-shadow: 0 0 15px 5px rgba(0,137,167,.3)
}
.login_confirm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_confirm button{
    width: 5vw;
    height: 1.5vw;
    border-radius: 0.75vw;
    border: 0px;
    outline: none;
    background-size: 400% 100%;
    background-image: linear-gradient(to right,#FFFFFB 0%,#FFFFFB 25%,#F596AA 75%,#F596AA 100%);
    background-position-x: 0%;
    transition: all 0.5s
}
.login_confirm button:hover{
    background-position-x:100%; 
    color: #fff
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('../img/texture.png')
}
.main_header{
    height: 4vw;
    background-color: #fff;
    border:solid 1px #e6e6e6;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.main_header img{
    width: 3.2vw;
    height: 3.2vw;
    padding: 0.4vw
}
.main_header p{
    font-size: 1.5vw;
    color: #2EA9DF;
    text-shadow: 0 0 2px rgba(0,0,0,.4)
}
.main_body{
    display: flex;
    flex:1
}
.main_body_menu{
    display: flex;
}
.main_menu{
    width: 8vw;
    height: 100%;
    /*transition: all 0.5s!important*/
}
.el-menu--collapse{
    width: 64px;
}
.main_body_content{
    height: 100%;
    width: 100%
}
.main_app_index .index_top_bar p{
    margin-left: 2vw;
    color:#fff;
    font-size: 1.2vw;
}
.main_app_index .index_card{
    width: 15vw;
    margin: 2vw;
}