html{
    width: 100vw;
}
html::-webkit-scrollbar{
    display: none;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #33A6B8;
    background-image: url('../img/texture.png')
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw;
    margin-top:-2vw;
}
.logo img{
    height: 6vw;
    width: 6vw;
}
.logo p{
    color:#fff;
    text-shadow: 0 0 0.5vw rgba(254,223,225,0.8);
    font-size: 1vw;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login input{
    width: 13vw;
    height: 1.5vw;
    border-radius: 0.75vw;
    padding: 0 0.5vw;
    margin-bottom: 0.5vw;
    border: 0;
    outline: none;
    transition: all 0.5s;
}
.login input::placeholder{
    font-size: 0.7vw;
    color:rgba(0,0,0,.6)
}
.login input:focus{
    box-shadow: 0 0 15px 5px rgba(0,137,167,.3)
}
.login_confirm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_confirm button{
    width: 5vw;
    height: 1.5vw;
    border-radius: 0.75vw;
    border: 0px;
    outline: none;
    background-size: 400% 100%;
    background-image: linear-gradient(to right,#FFFFFB 0%,#FFFFFB 25%,#F596AA 75%,#F596AA 100%);
    background-position-x: 0%;
    transition: all 0.5s
}
.login_confirm button:hover{
    background-position-x:100%; 
    color: #fff
}
.main{
    width: 100vw;
    display: flex;
    flex:1;
    flex-direction: column;
    background-image: url('../img/texture.png')
}
.main_header{
    height: 4vw;
    background-color: #fff;
    border:solid 1px #e6e6e6;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.main_header img{
    width: 3.2vw;
    height: 3.2vw;
    padding: 0.4vw
}
.main_header p{
    font-size: 1.5vw;
    color: #2EA9DF;
    text-shadow: 0 0 2px rgba(0,0,0,.4)
}
.main_body{
    display: flex;
    flex:1
}
.main_body_menu{
    display: flex;
}
.main_menu{
    width: 8vw;
    height: 100%;
    /*transition: all 0.5s!important*/
}
.el-menu--collapse{
    width: 64px;
}
.main_body_content{
    height: 100%;
    width: 100%
}
.main_app_index .index_top_bar p{
    margin-left: 2vw;
    color:#fff;
    font-size: 1.2vw;
}
.main_app_index .index_card{
    width: 18vw;
    margin: 2vw;
    overflow-y: scroll;
}
.main_app_index .index_card::-webkit-scrollbar{
    display: none
}
.main_app_index .el-card__header{
    font-size: 0.95vw;
}
.main_app_index .index_card .el-collapse{
    overflow-y: scroll;
}
.main_app_index .index_card .el-collapse::-webkit-scrollbar{
    display: none
}
.main_app_index .index_card .inner_top{
    font-size: 0.85vw
}
.main_app_index .index_card .inner_body{
    padding-left: 1vw;
}
.main_app_index .index_card .server_disk_list{
    display: flex;
    height: 1.25vw;
    align-items: center;
    margin:0.2vw 0;
}
.main_app_index .index_card .server_disk_bar{
    display: flex;
    flex:1;
    justify-content: center;
    border:solid 1px #7BA23F;
    box-sizing: border-box;
    margin:0 0.25vw;
    border-radius: 0.625vw;
    text-shadow: 0 0 2px #fff;
}
.main_app_index .index_card .server_disk_occupy{
    display: flex;
    width: 3.55vw;
}
.el-collapse-item:last-child {
    margin-bottom: 0px;/*覆盖*/
}
.main_app_index .main_app_container{
    display: flex
}
.main_app_index .index_setting .index_setting_select{
    margin-top: 1vw;
}
.main_app_index .index_setting .index_setting_select .el-select{
    width: 100%
}


.main_app_user .user_top_bar p {
    margin-left: 2vw;
    color: #fff;
    font-size: 1.2vw;
}
.main_app_user .main_app_container{
    display: flex
}

.main_app_user .user_card{
    width: 18vw;
    margin: 2vw;
    overflow-y: scroll;
}
.main_app_user .user_card .header{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.main_app_user .user_card::-webkit-scrollbar{
    display: none
}
.main_app_user .all_count{
    box-shadow: 0 0 4px 1px #2EA9DF;
    padding: 0.1vw 0.5vw;
    box-sizing: border-box;
    border-radius: 0.5vw;
    margin: 0.6vw 0;
}
.main_app_user .all_count p{
    margin:0.2vw 0;
}
.main_app_user .main_app_container{
    display: flex
}
.main_app_user .user_manage_query_search{
    display: flex
}
.main_app_user .user_manage_query_search .search_a{
    display: flex;
    flex:4
}
.main_app_user .user_manage_query_search .search_b{
    display: flex;
    flex:3
}
.main_app_user .button_container .el-button+.el-button{
    margin-left: 5px;
}
.main_app_user .user_selected_manage .el-tag + .el-tag{
    margin-left: 5px;
}

/*vue?????*/
.user_change-leave-active{
    transition: all 0.5s;
    opacity: 1;
}
.user_change-leave-to{
    opacity: 0;
}
.user_change-enter-active{
    transition: all 0.5s;
    opacity: 0;
}
.user_change-enter-to{
    opacity: 1;
}