body {
	background-color: #81C7D4;
	display: flex;
	flex-direction: column;
}

.title{
	font-size: 20px;
	color: #fff;
	margin-top: 5px;
	margin-left: 10px;
}
.info{
	display: flex;
}
.info .version{
	margin-left: 5px;
	margin-top: 15px;
	font-size: 5px;
	color:#fff;
}
.input{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
}
.input textarea{
	width: 80%;
	height: 85vh;
	border-radius: 5px;
	padding:10px;
	background-color: rgba(255,255,255,0.95)
}
.input button{
	width: 100px;
	height: 30px;
	border-width: 0px;
	border-radius: 5px;
	margin-top: 5px;
}
.input button:hover{
	background-color: #FEDFE1;
	transition: all .3s
}
.mask{
	width: 100vw;
	height: 100vh;
	opacity: 0;
	position: absolute;
	z-index: 999;
	transition: all 0.3s;
	font-size: 40px;
	color:#fff;
	top:0px;
}
.mask_container{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	line-height: 100vh;
	text-align: center;
	top:0px;
}
.mask_hidden{
	display: none;
}
.select_area{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.select_area p,.select_area .change_text{
	width: 20vw;
	border-radius: 5px;
	padding: 10px;
	transition: all .3s
}
.select_area .origin_text{
	background-color: rgba(255,255,255,0.6);
}
.select_area .youdao_text{
	background-color: rgba(255,255,255,0.6);
}
.select_area .google_text{
	background-color: rgba(255,255,255,0.6);
}
.select_area .change_text{
	background-color: rgba(255,255,255,0.95);
	overflow-x: hidden;
    overflow-y: auto;
}
.select_area .youdao_text:hover{
	background-color: #FEDFE1;
}
.select_area .google_text:hover{
	background-color: #FEDFE1;
}
.select_area .change_text:focus{
	box-shadow: 0 0 20px #0089A7
}
.Tips{
	margin-left: 10px;
	color:#fff;
}
.get_result_container{
	display: flex;
	justify-content: center;
}
.get_result{
	width: 100px;
	height: 30px;
	border-width: 0px;
	border-radius: 5px;
	margin-top: 5px;
}
.get_result:hover{
	background-color: #FEDFE1;
	transition: all .3s
}
.origin_text{
	transition: all .3s
}
.select_area .origin_text_change{
	background-color: #EEA9A9
}