<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/ftpmanager/css/normalize.css">
    <link href="https://cdn.bootcss.com/element-ui/2.5.4/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/ftpmanager/css/main.css">
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1055306_fir40j9usx7.css">
    <script src="https://cdn.bootcss.com/vue/2.6.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.5.4/index.js"></script>
    <script type="text/javascript" src="/static/ftpmanager/js/main.js"></script>
    <meta charset="UTF-8">
    <title>Ftpmanager管理页面</title>
</head>

<body>
    <div class="main" id="main_app">
        <div class="main_header">
            <img src="/static/ftpmanager/img/logo.png">
            <p>FtpManager管理系统</p>
        </div>
        <div class="main_body">
            <div class="main_body_menu">
                <el-menu class="main_menu" :collapse="menu.isCollapse" default-active="1" @select="change_page">
                    <el-menu-item index="1">
                        <i class="el-icon-menu"></i>
                        <span slot="title">主菜单</span>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon- iconfont icon-user"></i>
                        <span slot="title">用户管理</span>
                    </el-menu-item>
                    <el-menu-item index="9" @click="menu_toggle">
                        <i :class="{'el-icon-caret-bottom':menu.isCollapse,'el-icon-caret-top':!menu.isCollapse}"></i>
                        <span slot="title">{{menu.isCollapse?"展开":"收起"}}</span>
                    </el-menu-item>
                </el-menu>
            </div>
            <div class="main_body_content">
                <div class="main_app_index" v-show="app.page==1">
                    <div class="index_top_bar">
                        <p>服务器状态总览({{app.connect?'自动同步中':'连接已断开'}})</p>
                    </div>
                    <div class="main_app_container">
                        <div class="index_status">
                            <el-card class="index_card">
                                <div slot="header">
                                    <i class="el-icon-tickets"></i>
                                    <span>接入服务器数量</span>
                                </div>
                                <div>
                                    <p>在线：{{server_status_filter(1).length}}台</p>
                                    <p>离线：{{server_status_filter(0).length}}台</p>
                                    <p>异常：{{server_status_filter(2).length}}台</p>
                                </div>
                            </el-card>
                            <el-card class="index_card">
                                <div slot="header">所有服务器列表</div>
                                <div>
                                    <el-collapse>
                                        <el-collapse-item v-for="server in server_by_status" :title="server.name.slice(0,35)+(server.name.length>35?'...':'')">
                                            <div class="server_status">
                                                <p class="inner_top">服务器状态</p>
                                                <p class="inner_body">{{['离线','在线','异常'][server.status]}}</p>
                                            </div>
                                            <div class="server_disk">
                                                <p class="inner_top">磁盘占用情况</p>
                                                <div class="server_disk_list"
                                                    v-for="(disk,name) in server.more.disk_info">
                                                    <div class="server_disk_bar"
                                                        :style="{background: 'linear-gradient(to right,#7BA23F 0%,#7BA23F '+disk[3]+'%,#ffffff '+disk[3]+'%,#ffffff 100%)'}"
                                                        :title="toGB(disk[1])+'GB/'+toGB(disk[0])+'GB'">目录:{{name}}
                                                    </div>
                                                    <div class="server_disk_occupy">占用:{{disk[3]}}%</div>
                                                </div>
                                            </div>
                                        </el-collapse-item>
                                    </el-collapse>
                                </div>
                            </el-card>
                        </div>
                        <div class="index_setting">
                            <el-card class="index_card">
                                <div slot="header">
                                    <i class="el-icon-setting"></i>
                                    <span>服务器信息配置</span>
                                    <div class="index_setting_select">
                                        <el-select v-model="app.index.changeinfo.server_id" placeholder="请选择">
                                            <el-option-group v-for="(servers,index) in sorted_service" :key="index"
                                                :label="['在线','离线','异常'][index]">
                                                <el-option v-for="server in servers" :label="server.name"
                                                    :value="server.server_id"></el-option>
                                            </el-option-group>
                                        </el-select>
                                    </div>
                                </div>
                                <div v-if="app.index.changeinfo.server_id">
                                    <div class="index_form">
                                        <el-form :inline="true">
                                            <el-form-item>
                                                <el-input v-model="app.index.changeinfo.data"
                                                    placeholder="修改名字，3-15字之间"></el-input>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-button type="primary" round
                                                    @click="app.index.changeinfo.flag && changename()">确认</el-button>
                                            </el-form-item>
                                        </el-form>
                                        <div class="index_button">
                                            <el-button
                                                :disable="app.index.servers_dict[app.index.changeinfo.server_id].status==1"
                                                type="danger" round @click="delete_server">删除服务器</el-button>
                                            <el-button type="info" round @click="clear_index">取消所有操作</el-button>
                                        </div>
                                    </div>
                                </div>
                            </el-card>
                        </div>
                    </div>
                </div>
                <div class="main_app_user" v-show="app.page==2">
                    <div class="user_top_bar">
                        <p>服务器用户总览({{app.connect?'自动同步中':'连接已断开'}})</p>
                    </div>
                    <div class="main_app_container">
                        <div class="user_status">
                            <el-card class="user_card">
                                <div slot="header">用户数量统计</div>
                                <div>
                                    <p>用户总数：{{app.user.users.all}}</p>
                                    <div v-for="(num,server) in app.user.users.servers" class="all_count">
                                        <p>服务器名：{{app.index.servers_dict[server].name}}</p>
                                        <p>开通人数：{{num}}</p>
                                    </div>
                                </div>
                            </el-card>
                        </div>
                        <div class="user_manage">
                            <p>用户管理</p>
                            <div class="user_manage_query">
                                <div class="user_manage_query_search">
                                    <el-cascader class="search_a" :options="app.user.servers" :props="app.user.search_props" @change="load_dbnote" change-on-select clearable></el-cascader>
                                    <el-input class="search_b" placeholder="可输入用户名关键字" v-model="app.user.search_user.user_keyword" @input.native="get_user" @clear="get_user" clearable>
                                    </el-input>
                                </div>
                                <el-table :data="app.user.tempdata">
                                    <el-table-column prop="user_id" label="ID"></el-table-column>
                                    <el-table-column prop="name" label="姓名"></el-table-column>
                                </el-table>
                            </div>
                        </div>
                        <div class="dbnote_manage">
                            <p>标签管理</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#main_app',
            data: {
                menu: {
                    isCollapse: true,
                },
                app: {
                    connect:true,
                    page:1,
                    index: {
                        servers: [],
                        servers_dict: {},
                        changeinfo: { server_id: null, target: null, data: null, flag: true }
                    },
                    user:{
                        users:{
                            all:0,
                            servers:[],
                        },
                        search_user:{
                            server_id:null,
                            db_note:null,
                            user_keyword:null,
                        },
                        search_props:{
                            value:"server_id",
                            label:"name",
                            children:'',
                            temp:null
                        },
                        servers:[],
                        tempdata:[]
                    }
                }
            },
            methods: {
                change_page:function(key,keypath){
                    if(key<9)this.app.page=key;
                },
                menu_toggle: function () {
                    this.menu.isCollapse = !this.menu.isCollapse
                },
                dic_length: dic => Object.keys(dic).length,
                server_status_filter: function (status) {
                    return this.app.index.servers.filter(x => x.status == status)
                },
                toGB: zijie => (zijie / 1073741824).toFixed(2),
                changename: function () {
                    let self = this;
                    self.app.index.changeinfo.flag = false;
                    fetch_post('/ftpmanager/api/change_server_info', {
                        'server_id': self.app.index.changeinfo.server_id,
                        'target': 'name',
                        'data': self.app.index.changeinfo.data
                    }).then(res => {
                        self.app.index.changeinfo.flag = true;
                        if (!res.code == 0) {
                            self.$alert(res.err_msg, '异常操作', {
                                confirmButtonText: '确定',
                                type: 'error'
                            })
                        } else {
                            self.$message.success("修改成功");
                            self.app.index.changeinfo = { server_id: null, target: null, data: null, flag: true }
                        }
                    })
                },
                clear_index: function () {
                    this.app.index.changeinfo = { server_id: null, target: null, data: null, flag: true }
                },
                delete_server: function () {
                    let self = this
                    self.app.index.changeinfo.flag = false;
                    self.$confirm('此操作将会永久删除该服务器以及相关的用户记录，确认继续？', '警告', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        fetch_post('/ftpmanager/api/del_server', { 'server_id': this.app.index.changeinfo.server_id }).then(res => {
                            self.app.index.changeinfo.flag = true;
                            if (!res.code == 0) {
                                self.$alert(res.err_msg, '异常操作', {
                                    confirmButtonText: '确定',
                                    type: 'error'
                                })
                            } else {
                                self.$message.success("修改成功");
                                self.app.index.changeinfo = { server_id: null, target: null, data: null, flag: true };
                                window.location.href = window.location.href
                            }
                        })
                    })
                },
                load_dbnote:function(server_id){
                    let self=this
                    self.app.user.search_user.server_id=null
                    self.app.user.search_user.db_note=null
                    self.app.user.search_user.user_keyword=null
                    self.app.user.tempdata=[]
                    if(server_id.length==0)return;
                    self.app.user.search_user.server_id=server_id[0]
                    if(server_id.length>1){
                        self.app.user.search_user.db_note=server_id[1]
                    }
                    self.get_user()
                    if(server_id.length>1)return;
                    server_id=server_id[0]
                    if(findObjectInList(self.app.user.servers,'server_id',server_id).children.length==0){
                        fetch_post('/ftpmanager/api/get_server_notes',{'server_id':server_id}).then(res=>{
                            if (!res.code == 0) {
                                self.$alert(res.err_msg, '异常操作', {
                                    confirmButtonText: '确定',
                                    type: 'error'
                                })
                            } else {
                                let tempdata=res.data.map(item=>{let tempitem={};tempitem['name']=item['name'],tempitem['server_id']=item['id'];return tempitem})
                                for(let i=0;i<self.app.user.servers.length;i++){
                                    if(self.app.user.servers[i].server_id==server_id){
                                        self.app.user.servers[i].children=tempdata || [];
                                        break;
                                    }
                                }
                            }
                        })
                    }
                },
                get_user:function(){
                    let self=this
                    self.app.user.tempdata=[]
                    fetch_post('/ftpmanager/api/get_users',self.app.user.search_user).then(res=>{
                        if (!res.code == 0) {
                            self.$alert(res.err_msg, '异常操作', {
                                confirmButtonText: '确定',
                                type: 'error'
                            })
                        } else {
                            self.app.user.tempdata=res.data
                        }
                    })
                }
            },
            computed: {
                sorted_service: function () {
                    let result = [];
                    for (let i of [1, 0, 2]) result.push(this.server_status_filter(i));
                    return result
                },
                server_by_status:function(){
                    let result=[];
                    for(let i of [1,0,2]){
                        let temp=this.server_status_filter(i);
                        for(let j in temp)result.push(temp[j]);
                    }
                    return result
                }
            },
            created: function () {
                self = this;
                fetch_get('/ftpmanager/api/async_info').then(res => {
                    let result=[];
                    for (let i in res) result.push(res[i]);
                    self.app.index.servers=result;
                    self.app.index.servers_dict = res;
                    let temp=[]
                    for(let i in res){
                        temp_one={}
                        temp_one['server_id']=i
                        temp_one['name']=res[i]['name']
                        temp_one['children']=[]
                        temp.push(temp_one)
                    }
                    self.app.user.servers=temp;
                })
                fetch_get('/ftpmanager/api/get_base_user_info').then(res=>{
                    self.app.user.users=res;
                })
                let just1=setInterval(() => {
                    fetch_get('/ftpmanager/api/async_info').then(res => {
                        let result=[];
                        for (let i in res) result.push(res[i]);
                        self.app.index.servers=result;
                        self.app.index.servers_dict = res;
                        let temp=[]
                        for(let i in res){
                            temp_one={}
                            temp_one['server_id']=i
                            temp_one['name']=res[i]['name']
                            temp_one['children']=[]
                            temp.push(temp_one)
                        }
                        if(!isListObjectValueEqual(self.app.user.servers,temp,['server_id','name']))self.app.user.servers=temp
                    }).catch(_=>{
                        console.log(_)
                        clearInterval(just1);
                        self.app.connect=false;
                        self.$notify.error({
                            title:'发生了什么情况！',
                            message:'与服务器的连接断开了，是网络问题吗？要重新刷新试下吗？',
                            duration:0,
                        })
                        })
                }, 2000)
            },
        })
    </script>
</body>

</html>