<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/ftpmanager/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/static/ftpmanager/css/main.css">
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/ftpmanager/js/main.js"></script>
    </head>
    <body>
        <div class="logo"></div>
        <div class="login">
            <input id="user" type="text" placeholder="请输入您的用户名或注册邮箱">
            <input id="password" type="password" placeholder="请输入您的密码">
            <div class="login_confirm">
                <button>
            </div>
        </div>
    </body>
</html>