body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
/*a:hover { text-decoration:underline; }*/
a:hover{cursor:pointer;}
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}

html::-webkit-scrollbar { width: 0 !important }
html{
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none; 
}
/*初始化完毕*/
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;
    background-color: rgba(0,0,0,0.15);
}
.header_main{
    height: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo_container{
    display: flex;
    align-items: center;
}
.header_logo{
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    margin-left: 10px
}
.header_title{
    color: rgba(255,255,255,0.8);
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}
.header_block{
    height: 80px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_block p{
    font-weight: bold;
    font-size: 16px;
    color: rgba(255,255,255,0.8);
}
.header_links_container{
    display: flex;
    margin-right: 20px;
}
.slider{
    width: 100%;
    height: 100vh;
    transition: all 1s;
    background-image: url('../img/background01.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.slider_center{
    display: flex;
}
.slider_title,.slider_hidden_box{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    border-radius: 50%;
    transition: all 0.5s;
}
.slider_hidden_box{
    transform: rotateY(-90deg);
    position: absolute;
}
.slider_title_main{
    font-size: 36px;
    font-weight: bold;
    color:#fff;
}
.slider_center:hover .slider_title{
    transform: rotateY(90deg);
}
.slider_center:hover .slider_hidden_box{
    transform: rotateY(0deg);
}
.slider_title_little{
    font-size: 16px;
    color:#fff;
    text-align: right;
    align-self: flex-end;
    margin-right: 30px;
}
.slider_hidden{
    width: 60px;
    height: 60px;
    background: url('../img/arrow.png') center center;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    animation: jump_arrow 2.5s infinite
}
.body{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f0f2eb;
}
.body_contain{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.body_block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 0 -10px 14px rgba(0,0,0,0.2);
    z-index: 1;
    background-attachment: fixed!important;
}
/*.body_block:before{
    content: "";
    height:0px;
    width: 100%;
}*/
.body_block_top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
}
.body_block_container{
    width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
    padding-top: 5px;
    margin-bottom: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px #405B55;
}
.body_block_link{
    height: 100%;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
    color:#fff;
    line-height: 21px;
    text-align: center;
    margin-bottom: 5px;
    justify-content: space-between;
    transition: all 0.3s;
    border-radius: 8px;
}
.body_block_link:hover{
    box-shadow: 0 0 10px rgba(120,194,196,0.5);
    background-color: rgba(120,194,196,0.4);
}
.body_block_time{
    margin-left: 10px
}
.body_block_title{
    margin-left:10px;
    display: flex;
}
.body_block_detail{
    display: flex;
    margin-right: 10px;
}
.body_block_title_name{
    margin-left: 5px;
}
.body_study{
    background: url('../img/background02.jpg');
    background-size: cover;
}
.body_summary{
    background: url('../img/background03.jpg');
    background-size: cover;
}
.body_diary{
    background: url('../img/background04.jpg');
    background-size: cover;
}
.body_block_null{
    height: 180px;
    margin:0 50px;
    color:rgba(255,255,255,0.8);
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #7DB9DE;
    box-shadow: 0 -10px 14px rgba(0,0,0,0.2);
    z-index: 1;
}
.footer_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer_main{
    width: 1200px;
    flex:1;
    display: flex;
    justify-content: space-between;
}
.footer_tip{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    padding-top:8px;
    border-top:1px solid rgba(0,0,0,0.2); 
    font-size: 12px
}

.body_fill{
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.login_area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    background-color: rgba(0,0,0,0.05);
    border-radius:20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}
.login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.login_form input{
    height: 30px;
    border:1px solid #fff;
    border-radius: 6px;
    width: 100%;
    outline: none;
    padding-left: 10px;
    transition: all 0.3s
}
.login_form input:focus{
    box-shadow: 0 0 5px #F19483;
}
.login_form .login_form_password{
    margin-top: 10px;
    margin-bottom: 20px;
}
.login_form .login_form_submit{
    width: 80px;
    height: 35px;
    border-radius: 5px;
    background-color: #FCFAF2;
    border: 1px solid rgba(0,0,0,0);
    outline: none;
    transition: all 0.3s
}
.login_form .login_form_submit:hover{
    background-color: #F19483
}
.logo_area{
    display: flex;
    margin-bottom: 20px;
}
.logo_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo_area .logo_img{
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    background-position: center center;
    margin-right: 10px
}
.logo_text .logo_text_up{
    font-weight: bold;
    font-size: 24px;
}

.header_absolute{
    position: relative;
    background-color: rgba(0,0,0,0.6)
}
.body_fill_absolute{
    height: calc(100vh - 80px)
}
.body_column{
    flex-direction: column;
    align-items: center;
}
.body_user_content{
    width: 1200px;
    height: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    display: flex;
}
.body_user_left{
    height: 100%;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(17,50,133,0.05)
}
.body_user_right{
    height: 100%;
    width: 960px;
}
.body_user_left .body_user_pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(51,166,184,0.2);
    border:2px solid #33A6B8;
    margin-top:60px;
}
.body_user_left .body_user_msg{
    font-size: 20px;
    margin-top: 10px;
}
.body_user_left .body_user_setting{
    margin-top: 40px;
    font-size: 16px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
}
.body_user_left .body_user_setting a{
    display: block;
    transition: all 0.3s;
}
.body_user_left .body_user_setting a:hover{
    color:#33A6B8;
    text-shadow: 0 0 5px rgba(51,166,184,0.3),0 0 10px rgba(51,166,184,0.3);
}
.body_user_iframe{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgba(255,255,255,0.55);
    flex-direction: column;
}
.body_user_iframe .iframe_top_title p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
}
#user_article .iframe_body table{
    height: 100%;
    width: 100%
}
.body_query{
    display: flex;
    margin:10px 0;
}
.body_query>.el-cascader,.body_query>.el-button{
    margin-left: 10px;
}
#editormd{
    height: calc(100vh);
    width: 90%;
    margin:auto;
    border:none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom:10px;
}
.article_setting_top{
    display: flex;
    justify-content: center;
}
.article_setting{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
    flex-direction: column;
    width: 1200px
}
.short_input{
    width: 120px;
}
.normal_input{
    width: 260px;
}
.article_setting_title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.article_save{
    margin-bottom: 10px;
}
/*动画区*/
@keyframes jump_arrow{
    0%{
        bottom:60px;
        opacity: 1;
    }
    60%{
        bottom:10px;
        opacity: 1;
    }
    90%{
        bottom: 0px;
        opacity: 0;
    }
    95%{
        bottom:60px;
        opacity: 0;
    }
    100%{
        bottom:60px;
        opacity: 1;
    }

}